.update-modal {
    display: block; 
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.521);
}

  /* Modal Content */
.update-modal-content {
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin: 60px auto;
  border-radius: 8px;
  padding: 10px 20px;
  width: 60%;
  font-family: sans-serif;
}

/* The Close Button */
.update-modal-close {
    color: crimson;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.update-modal-close:hover,
.update-modal-close:focus {
    color: rgb(12, 104, 133);
    cursor: pointer;
}

@media only screen and (max-width: 640px) {
  .update-modal-content {
    width: 80%;
  }
}
