.chats__header {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    color: rgba(105, 105, 105, 0.801);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 0 20px;
}

.chats__header img {
    margin-right: 6px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.chats-header-no-friend {
    margin-right: 6px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgba(224, 221, 221, 0.308);
}

.chats-header-no-friend-img {
    display: none;
}

.chats-header-no-friend-span {
    height: 14px;
    width: 80px;
    background-color: rgba(224, 221, 221, 0.308);
    border-radius: 10px;
}

.chats__header span {
    font-weight: 600;
    font-size: 14px;
    padding-left: 4px;
}
