.update-password-header {
    color: #333;
    margin-bottom: 20px;
}
  
.update-password-form label {
    color: rgba(138, 136, 136, 0.87);
    font-size: 14px;
}
  
.update-password-form input{
    width:100%;
    border-top:none;
    border-left:none;
    border-right:none;
    height: 26px;
    border-bottom:solid 2px #ccc;
    transition:all .23s ease-in;
    background-color: transparent;
    margin-bottom: 16px;
}

.update-password-form input:focus{
    border-bottom: 2px solid rgb(30, 177, 221);
    outline:none;
}

.gender-select-option {
    width: 100%;
    outline: none;
    border: 2px solid #ccc;
    background-color: transparent;
    margin: 5px 0 16px 0;
    height: 26px;
}

.bio-text-area-box {
    margin: 5px 0 16px 0;
    width: 100%;
    outline: none;
    border: 2px solid #ccc;
    background-color: transparent;
    margin-bottom: 16px;
}

.bio-text-area-box:focus,
.bio-text-area-box:focus {
    border:solid 2px rgb(30, 177, 221);
}
.update-password-btn, .update-password-btn-disabled {
    font-weight: bold;
    margin-top: 10px;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 12px;
    outline: none;
    border: none;
}

.update-password-btn {
    background-color: rgb(30, 177, 221);
    color: #fff;
}
  
.update-password-btn:hover {
    cursor: pointer;
}

.update-password-alert-failure-msg, .update-password-alert-success {
    text-align: center;
    color: #fff;
    padding: 10px;
}

.update-password-alert-failure-msg {
    background-color: rgb(235, 85, 85);
}

.update-password-alert-success {
    background-color: rgb(14, 104, 51);
}