.user-card-skeleton {
    animation: skeleton 1s ease infinite alternate;
}

@keyframes skeleton {
    to {
        opacity: 0.5;
    }
}

.user-card-skeleton {
    background-color: #fff;
    margin: 10px;
    transition: all .8s ease-in-out;
    border-radius: 5px;
    width: 160px;
    height: 240px;
}
