* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #ddd;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(30, 177, 221);
}

.link {
    text-decoration: none;
    color: inherit;
}